.story {
  &-1,
  &-2 {
    display: flex;
    margin-top: 2.5rem;
    grid-column: full-start / full-end;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      margin-left: 12rem;
    }
  }
  &-1 {
    justify-content: flex-end;
  }

  &-2 {
    justify-content: flex-start;
  }

  &__content {
    width: 70rem;
    height: 58rem;
    background-color: $color-grey-light-2;
    position: relative;
    top: 3.5rem;

    display: grid;
    grid-template-rows: repeat (3, max-content);

    padding: 16rem 13rem;

    @media only screen and (max-width: $bp-large) {
      padding: 12rem 10rem;
    }
  }

  &__pictures {
    &--1,
    &--2 {
      width: 70rem;
      height: 58rem;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-left: 2rem;
  }
}
